extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row.logo
				.col-md-2
					img.img-fluid(src="https://avatars3.githubusercontent.com/u/43694331?s=460&v=4", alt="")
				.col-md-10
					p Bé Quí cute nhất dũ trụ
					p bla bla......<3
			.row
				.col
					nav.menu1
						ul
							li
								a(href="#") Menu
							li
								a(href="#") About
							li
								a(href="#") Service
							li
								a(href="#") Contact
					.row.about
						.col-md-4
							img.item.img-fluid(src="https://vi.seaicons.com/wp-content/uploads/2017/04/paper-airplane-icon.png", alt="")
						.col-md-8
							p.title About
							p Another day without your smile another day just passes but now I know how much it means for you to stay right here with me. The time we spent apart will make our love grow strongerbut it hurts so bad I can't take it any longer.
							p Another day without your smile another day just passes but now I know how much it means for you to stay right here with me. The time we spent apart will make our love grow strongerbut it hurts so bad I can't take it any longer
					.row.content
						.col-md-3.menu2
							nav
								ul
									li
										a(href="#") About Us
									li
										a(href="#") How we work
									li
										a(href="#") Test
									li
										a(href="#") Contact
						.col-md-9.cnt
								h2.title2 3 BÀI HỌC TỪ PHIM "DIÊN HI CÔNG LƯỢC"
								p 1. Anh Lạc đẹp nghiêng nước nghiêng thành, mà không lập luận logic, lớp lang thì không thể nào làm xiêu lòng được cả Phó Hằng và Hoàng Thượng.
								p 2. Cho dù Lạc mưu kế thâm sâu, nhưng lúc trình bày lắp ba lắp bắp, không nhờ được Minh Ngọc, Trân Châu hợp tác thì cũng ... đi đời.
								p 3. Quan trọng là từ cung nữ đồng vai phải lứa, đến "crush" là Phó Hằng, "tỉ tỉ" Hoàng Hậu hay với "trùm cuối" Hoàng Thượng và Thái Hậu, Lạc đều có cách nói chuyện phù hợp.
								p Năm 2018, đất chật người đông, cơ hội thì ít mà người giỏi thì nhiều, khắc nghiệt hơn cả Tử Cấm Thành.
								p Người có khả năng giao tiếp, nói trước đám đông đã không còn là một ưu thế nữa. Mà nó là một kĩ năng BẮT BUỘC PHẢI CÓ để bản thân không bị thiệt thòi khi bước vào đời.

